.maia-util {
	display: inline-block;
	float: right;
}

.maia-button {
	background-color: #4173c9;
	background-image: -moz-linear-gradient(top,#5e8ee4,#4173c9);
	background-image: -webkit-linear-gradient(top,#5e8ee4,#4173c9);
	background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0,#5e8ee4),color-stop(1,#4173c9));
	background-image: linear-gradient(top,#5e8ee4,#4173c9);
	border: 0;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	color: #fff;
	cursor: pointer;
	display: inline-block;
	font-family: arial,sans-serif;
	font-size: 13px;
	font-weight: 700;
	line-height: 1.54;
	padding: 7px 12px;
	text-align: center;
	text-shadow: 0 -1px 0 rgba(0,0,0,.08);
}

a.maia-button {
	color: #fff !important;
	text-decoration: none;
}

button.maia-button {
	margin: 0;
	overflow: visible;
	white-space: normal;
}

button.maia-button::-moz-focus-inner {
	border: 0;
	padding: 0;
}

.maia-button:hover,
.maia-button:focus {
	background-color: #4173c9;
	background-image: -moz-linear-gradient(top,#5e8ee4,#4173c9);
	background-image: -webkit-linear-gradient(top,#5e8ee4,#4173c9);
	background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0,#5e8ee4),color-stop(1,#4173c9));
	background-image: linear-gradient(top,#5e8ee4,#4173c9);
}

.maia-button:active {
	-moz-box-shadow: inset 0 2px 4px rgba(0,0,0,.24);
	-webkit-box-shadow: inset 0 2px 4px rgba(0,0,0,.24);
	box-shadow: inset 0 2px 4px rgba(0,0,0,.24);
}

.maia-button[disabled],
.maia-button.maia-button-disabled {
	background-color: #a4b9e3;
	background-image: 0;
	background-image: 0;
	background-image: 0;
	background-image: linear-gradient(top,#b0c7f0,#a4b9e3);
	-moz-box-shadow: none !important;
	-webkit-box-shadow: none !important;
	box-shadow: none !important;
	cursor: default !important;
}
