.section {
	clear: both;
	padding: 0px;
	margin: 0px;
}

.group {
	zoom: 1; /* For IE 6/7 (trigger hasLayout) */

	&:before,
	&:after {
		content: "";
		display: table;
	}
	&:after {
		clear: both;
	}
}

.col {
	display: block;
	float: left;
	margin: 1% 0 1% 1.6%;

	&:first-child { margin-left: 0; } /* all browsers except IE6 and lower */
}

.span_2_of_2 {
	width: 100%;
}
.span_1_of_2 {
	width: 49.2%;
}
.span_3_of_3 {
	width: 100%; 
}
.span_2_of_3 {
	width: 66.1%; 
}
.span_1_of_3 {
	width: 32.2%; 
}
.span_4_of_4 {
	width: 100%; 
}
.span_3_of_4 {
	width: 74.6%; 
}
.span_2_of_4 {
	width: 49.2%; 
}
.span_1_of_4 {
	width: 23.8%; 
}

@media only screen and (max-width: 480px) {
	.col { 
		margin: 1% 0 1% 0%;
	}

	.span_2_of_2 {
		width: 100%; 
	}
	.span_1_of_2 {
		width: 100%; 
	}
	.span_3_of_3 {
		width: 100%; 
	}
	.span_2_of_3 {
		width: 100%; 
	}
	.span_1_of_3 {
		width: 100%;
	}
	.span_4_of_4 {
		width: 100%; 
	}
	.span_3_of_4 {
		width: 100%; 
	}
	.span_2_of_4 {
		width: 100%; 
	}
	.span_1_of_4 {
		width: 100%; 
	}
}