// --- GLOBAL COLOR --- //


@color-offblack:		#1a1a1a;
@color-offwhite:		#ededed;
@color-google-blue:		#1B4EED;
@color-google-blue2:	#1643EC;
@color-google-red:		#EE2B35;
@color-google-yellow:	#FCB110;
@color-google-green:	#00B817;


// --- GLOBAL NUMBERS --- //


@global-max-width:		960px;
@global-top-bar-height:	75px;

@z-index-opener:		1001;
@z-index-top-bar:		1000;
@z-index-contact-flair: 10;