@import '_lesshat'; // LESS "mix-ins" for all prefix properties
@import '_responsivegrid';
@import '_variables';


/* ==========================================================================
GLOBAL TAG & .CLASS
========================================================================== */


body, html {
	background-color: @color-offwhite; /* TODO: confirm no breaks */
	height: 100%;
	position: relative;
}
body {
	font: 13px/15px 'Open Sans', Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
}

h1, h2, h3 {
	font-weight: 300;
	line-height: 1em;
	max-width: @global-max-width;
}

p {
	max-width: @global-max-width;
}

footer {
}

a.scroll-arrow-button {
	background: url(//www.google.com/maps/about/images/treks/galapagos/scroll-arrow.png) no-repeat 0 0;
	background-size: cover;
	display: block;
	margin: 0 auto;
	.transition(transform .3s ease-in-out);
	transform: translatez(0);
	height: 61px;
	width: 61px;
}

.sig {
	max-width: @global-max-width;
	margin: auto;
	margin-top: 2em;
	height: 4px;

	&.footer {
		margin-top: 5em;
	}

	&:after, &:before {
		content: "";
		float: right;
		height: 4px;
	}
	&:before {
	// [dir="rtl"] &:after {
		border-left: 35px solid #ffa900;
		border-right: 34px solid #00a753;
	}
	&:after {
	// [dir="rtl"] &:before {
		border-left: 34px solid #0089fa;
		border-right: 35px solid #ff002b;
	}
}


/* ==========================================================================
TOP BAR
========================================================================== */


header.top-bar {
	width: 100%;
	z-index: 100;
	position: fixed;

	.inner {
		margin: 0 auto;
		max-width: @global-max-width;
		padding: 20px 15px 15px;
		position: relative;

		.logo {
			embed,
			svg {
				width: 125px;
				// width: auto;
				height: 44px;

				path {
					&.blue { fill: @color-google-blue; }
					&.red { fill: @color-google-red; }
					&.yellow { fill: @color-google-yellow; }
					&.blue2 { fill: @color-google-blue2; }
					&.green { fill: @color-google-green; }
				}
			}
		}
	}
}