@import '_lesshat'; // LESS "mix-ins" for all prefix properties
@import '_variables';


/* ==========================================================================
GLOBAL
========================================================================== */


.video {
	opacity: 0;
	overflow: hidden;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;

	&.show {
		opacity: 1;
	}
	> div {
		position: relative;
		overflow: hidden;
	}
	.cover {
		position: absolute;
		top: 0;
		left: 0;
		opacity: 0.6;
		background: #000;
		width: 100%;
		height: 100%;
	}
}
.video {
	.transition(~'opacity 1.5s ease-in');
}



/* ==========================================================================
SECTIONS
========================================================================== */


#content {

	> section {
		background-position: 50% 50%;
		background-size: cover;
		display: table;
		position: relative;
		text-align: center;
		width: 100%; height: 700px;

		h1,h2,h3,h4,p,img.down-arrow {
			// color: #fff;
			margin: 0 auto;
		}
		h1,
		h2 {
			text-transform: uppercase;
		}
		h1 {
			font-family: 'Dosis';
			font-weight: 200;
		}
		h2 {
			font-family: 'Dosis';
			font-weight: 200;
			letter-spacing: 0.35em;
		}
		p {
			font-family: 'Open Sans';
			line-height: 2em;
			margin-top: 3em;
			width: 66%;
		}
		embed {
			max-width: @global-max-width;
			width: 80%; height: auto;
		}
	}

	> section,
	.rslides > li {
		display: block;
		position: relative;

		> .child-cell {
			display: table-cell;
			max-width: @global-max-width;
			vertical-align: middle;
			width: 100%; height: 100%;
		}

		> .full-parent-table {
			border: solid 5% transparent;
			box-sizing: border-box;
			display: table;
			position: absolute;
			width: 100%; height: 100%;

			.child-cell {
				display: table-cell;
				max-width: @global-max-width;
				vertical-align: middle;
				width: 100%; height: 100%;
			}
		}
		.bottom {
			display: table;
			position: absolute;
			bottom: 0;
			width: 100%; height: 25%;

			.child-cell {
				display: table-cell;
				margin: 0 auto;
				vertical-align: middle;
				width: 100%; height: 100%;
			}
		}
	}

	/* --- FIRST: YOUNG & UNITED --- */

	section.row1 {
		// background-image: url(~"{{ 'about-row1-1.jpg' | asset_url }}");
		background-position: 66% 50%;
		height: 1000px;
		overflow: hidden;

		.video {
			background: #222;

			.cover {
				background: #000018;
				opacity: 0.5;
			}
			video {
				.filter(grayscale(1));
				.opacity(0.4);
			}
		}

		.full-parent-table {

			embed {
				width: 70%;
				height: auto;
			}
			h2 {
				color: #eee;
				font-family: 'Dosis';
				font-weight: 200;
				letter-spacing: 0.35em;
				margin-top: 0.5em;
				margin-bottom: 0.5em;
				text-shadow: 0px 3px 10px rgba(0, 0, 0, 1);
			}
			h3 {
				color: #888;
				font-weight: 500;
				letter-spacing: 0.2em;
				text-shadow: 0px 3px 10px rgba(0, 0, 0, 1);
				text-transform: uppercase;
			}
			p {
				line-height: 1.9em;
				margin-top: 2.5em;
				width: 50%;
			}
			img {
				
			}			
		}

	}


	/* --- THIRD: CREATE --- */


	section.row-product {

		h3 {
			margin-top: 1em;
		}
		p {
			margin-top: 3em;
		}
		a {
			color: #245dc1;
			text-decoration: none;

			&:visited {
				color: #7759ae;
			}
			&:hover {
				text-decoration: underline;
			}
		}

	}

	section.blue,
	section.red,
	section.gray {

		h2,
		h3,
		p {
			color: #eee;

			a {
				color: #eee;
				text-decoration: underline;

				&:visited {
					color: #eee;
				}
				&:hover {
					text-decoration: none;
				}
			}
		}
	}

	section.blue {
		background: #4173c9;
	}
	section.red {
		background: #db4e40;
	}
	section.gray {
		background: #363636;
	}


	/* --- THIRD: CREATE --- */


	section.row4 {
		background-color: #363636;
		background-image: -webkit-gradient(linear,50% 0,50% 100%,color-stop(0,#333),color-stop(3%,#444),color-stop(97%,#444),color-stop(100%,#333));
		background-image: -webkit-linear-gradient(#333,#444 3%,#444 97%,#333 100%);
		background-image: -moz-linear-gradient(#333,#444 3%,#444 97%,#333 100%);
		background-image: -o-linear-gradient(#333,#444 3%,#444 97%,#333 100%);
		background-image: linear-gradient(#333,#444 3%,#444 97%,#333 100%);
		clear: both;
		color: #fff;
		height: 300px;
		margin-bottom: -125px;
		min-height: 330px;
		padding-bottom: 25px;
		text-align: center;
		width: 100%;

		p {
			margin-top: 0;
		}

		.section.group {
			max-width: 1024px;
			margin: 1em auto;

		}

		a {
			color: #fff;
			text-decoration: underline;

			&:hover {
				text-decoration: none;
			}
		}
	}


	/* --- FIFTH: JOIN US --- */


	section.row5 {
		overflow: hidden;
		max-width: @global-max-width;
		margin: 0 auto;

		.video {
			height: 700px;

			+ div {
				height: 700px !important;
			}
		}

		.full-parent-table {

			embed {
				width: 70%;
				height: auto;
			}
			h2 {
				color: #eee;
				font-family: 'Dosis';
				font-weight: 200;
				letter-spacing: 0.35em;
				// text-shadow: 0px 3px 10px rgba(0, 0, 0, 1);
			}
			h3 {
				color: #888;
			}
			p {
				line-height: 2em;
				margin-top: 3em;
				width: 66%;
			}
			img {
				
			}			
		}

	}


	/* --- FOOTER --- */


	section.footer {
		background: #f9f9f9;
		border-top: 1px solid #f5f5f5;
		height: 100px;
		min-height: 24px;
	}
}


/* ==========================================================================
MEDIA QUERIES
========================================================================== */


@media screen and (max-width: 480px) {

	#content {

	}

}

@media screen and (max-width: 639px) {

	.top-bar nav ul {
		display: none;
	}

	#mobile-nav {
	}

}